{% import _self as revisions %}

{{ revisions.data(revision_data, 0) }}

{% macro data(revision_data, level) %}
  {% import _self as revisions %}
  {% if revision_data %}
    <ul style="list-style-type:none">
      {% for key,value in revision_data %}
        {% if value is iterable %}
          {% if level == 0 %}
            <li><b>{{ key }} :</b></li>
          {% elseif key %}
            <li>{{ key }} :</li>
          {% endif %}
          {{ revisions.data(value, level + 1) }}
        {% else %}
          <li>{{ key }} : {{ value|raw }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
